[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.suo
*.sln.docstates
*.pidb
*.booproj
*.log
*.vspscc
*.vssscc
*.ncrunch*
*.localhistory
*.swp
.recommenders
*.sln.ide
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.tlog
*.vspscc
*.vssscc
*.vsidx
_builds/
*_proj/
